<!-- SIDEBAR -->

<div class="sidebar">

    <!-- LOGO -->

    <div class="logo-area">

        <h3>
            📰 NOYYAL
        </h3>

        <small>
            EXPRESS CMS
        </small>

    </div>

    <!-- MENU -->

    <a href="/dashboard">

        <i class="fa fa-home"></i>

        Dashboard

    </a>

    <a href="/add-news">

        <i class="fa fa-plus-circle"></i>

        Add News

    </a>

    <a href="/news-list">

        <i class="fa fa-list"></i>

        News List

    </a>

    <a href="#">

        <i class="fa fa-bolt"></i>

        Breaking News

    </a>

    <!-- <a href="#">

        <i class="fa fa-video"></i>

        Videos

    </a>

    <a href="#">

        <i class="fa fa-image"></i>

        Gallery

    </a> -->

    <a href="#">

        <i class="fa fa-chart-line"></i>

        Analytics

    </a>

    <a href="#">

        <i class="fa fa-users"></i>

        Users

    </a>

    <a href="#">

        <i class="fa fa-share-alt"></i>

        Social Media

    </a>

    <a href="#">

        <i class="fa fa-cog"></i>

        Settings

    </a>

</div>